
/* ==========================================================================
   Imports
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  color: #242424;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #86C5FF;
  text-shadow: none;
}

::selection {
  background: #86C5FF;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #242424;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Main custom styles
   ========================================================================== */

html {
  font-family: 'Rubik', sans-serif;
  font-size: 62.5%;
  color: #242424;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.button {
  position: relative;

  border: none;
  border-radius: 16px;

  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;

  cursor: pointer;
}

.button__shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border-radius: 16px;
  background: #242424;
  opacity: 1;
  transition: opacity .1s ease-out;
}

.button:focus .button__shadow,
.button:hover .button__shadow {
  opacity: .8;
}

.button:active .button__shadow {
  opacity: 1;
  transition-duration: .05s;
}

.button__body {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;

  padding: 1em 7em;
  box-sizing: border-box;
  border-radius: 16px;

  color: #fff;
  background-color: #2998FF;

  z-index: 1;
  transition: bottom .1s ease-out;
}

.button:focus .button__body,
.button:hover .button__body {
  outline: none;
  bottom: .4em;
  background-color: #2DA7FF;
}

.button:active .button__body {
  bottom: 0;
  background-color: #2998FF;
  transition-duration: .05s;
}



.header {
  height: 9rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.05);
}

.header__content {
  height: 100%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-link {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.header__logo-link:focus {
  outline: none;
}

.header__logo {
  filter: brightness(1);
  transition: .25s .1s;
}

.header__logo-link:focus .header__logo,
.header__logo-link:hover .header__logo {
  filter: brightness(0);
  transition-delay: 0s;
}

.header__logo-link {
  text-decoration: none;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 64px;
  width: 100%;
  max-width: 800px;
}

.header__list-item + .header__list-item {
  margin-left: 1.5em;
}

.header__link {
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.header__link:focus {
  outline: none;
}

.header__link::after {
  content: "";
  width: 0%;
  height: .2em;

  position: absolute;
  bottom: -.3em;
  left: 50%;

  background-color: #242424;
  border-radius: 1.5px;
  opacity: 0;
  transition: .1s .1s;
}

.header__link:focus::after,
.header__link:hover::after,
.header__link.header__link_pre-active::after {
  width: 40%;

  left: 30%;
  opacity: 1;
  
  transition-delay: 0s;
}

.header__link.header__link_active::after {
  width: 90%;
  left: 5%;
  opacity: 1;
  transition-delay: 0s;
  background-color: #2998FF;
}



.hero {
  padding-top: 9rem;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
}

.hero__image {
  width: 50vw;

  border-radius: 0 0 32px 0;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2998FF;
}

.hero__content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content-wrapper{
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__logo-image {
  user-select: none;
  width: 50%;
  height: auto;
}

.hero__logo-header {
  font-size: 4.6rem;
  line-height: 1;
  text-transform: uppercase;
  margin: .4em 0 0 0;
}

.hero__paragraph {
  font-size: 2.4rem;
  margin-top: 3rem;
}

.hero__button {
  margin-top: 3rem;
  width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

