
/* ==========================================================================
   Imports
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  color: #242424;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #86C5FF;
  text-shadow: none;
}

::selection {
  background: #86C5FF;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #242424;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Main custom styles
   ========================================================================== */

html {
  font-family: 'Rubik', sans-serif;
  font-size: 62.5%;
  color: #242424;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.max-width-1120 {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 8px;
  box-sizing: border-box;
}


/* --------------------
         button
-------------------- */
.button {
  border: none;
  border-radius: 16px;
  color: #fff;
  background-color: #2998FF;
  padding: 1em 0;

  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  
  cursor: pointer;
  outline: none;
  transition: background-color .25s .1s;
}

.button:focus,
.button:hover {
  background-color: #00509A;
  transition-delay: 0s;
}

/* --------------------
        header
-------------------- */
.header {
  height: 90px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.05);
}

.header__content {
  height: 100%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-link {
  width: 56px;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  text-decoration: none;
}

.header__logo-link:focus {
  outline: none;
}

.header__logo {
  fill: #2998FF;
  width: 100%;
  transition: fill .25s .1s;
}

.header__logo-link:focus .header__logo,
.header__logo-link:hover .header__logo {
  fill: #00509A;
  transition-delay: 0s;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 64px;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

.header__list-item + .header__list-item {
  margin-left: 1.5em;
}

.header__list-item {
  height: 100%;
}

.header__link {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.header__link:focus {
  outline: none;
}

.header__link::after {
  content: "";
  width: 0%;
  height: 5px;

  position: absolute;
  bottom: 0;
  left: 50%;

  background-color: #242424;
  border-radius: 1.5px;
  opacity: 0;
  transition: .1s .1s;
}

.header__link:focus::after,
.header__link:hover::after,
.header__link.header__link_pre-active::after {
  width: 40%;

  left: 30%;
  opacity: 1;
  
  transition-delay: 0s;
}

.header__link.header__link_active::after {
  width: 90%;
  left: 5%;
  opacity: 1;
  transition-delay: 0s;
  background-color: #2998FF;
}

@media screen and (max-width: 850px) {
  .header__list {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  
}


/* --------------------
         hero
-------------------- */
.hero {
  padding-top: 9rem;
  box-sizing: border-box;
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.hero__image {
  width: 50vw;

  background-color: #2998FF;
  object-fit: cover;
}

.hero__content {
  flex: 1;
  margin: 0 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content-wrapper{
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__logo-image {
  fill: #2998FF;
  width: 50%;
}

.hero__logo-header {
  font-size: 4.6rem;
  line-height: 1;
  text-transform: uppercase;
  margin: .4em 0 0 0;
}

.hero__paragraph {
  font-size: 2.4rem;
  margin-top: 3rem;
}

.hero__button {
  margin-top: 3rem;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .hero__image {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  /* .hero__button {

  } */

  .hero__content-wrapper {
    max-width: none;
    width: 90%;
  }
}


/* --------------------
      what-we-do
-------------------- */
.what-we-do {
  margin: 12.8rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.what-we-do__header {
  margin: 0 0 1.3em;
  font-size: 4.8rem;
  text-transform: uppercase;
}

.what-we-do__text {
  min-width: 53.6rem;
  max-width: 55.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.what-we-do__desc-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.4rem;
}

.what-we-do__desc-item {
  max-width: 25.5rem;
}

.what-we-do__desc-term {
  font-weight: bold;
  font-size: 0;
}

/* .what-we-do__desc-term-image {
  
} */

.what-we-do__desc-term-text {
  font-size: 1.6rem;
  vertical-align: middle;
  margin-left: 1.6rem;
}

.what-we-do__desc-def {
  margin: 1.6rem 0 0;
  font-size: 1.6rem;
  line-height: 1.3125;
  letter-spacing: 0.3px;
}

.what-we-do__image {
  min-width: 0px;
  min-height: 64.3rem;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 16px;
}


/* --------------------
        projects
-------------------- */
.projects {
  margin-bottom: 10rem;
}

.projects__header {
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 6.4rem;
}

.projects__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.projects__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 49%;

  padding: 3.2rem 3.2rem 3.6rem;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.projects__card:not(:nth-last-of-type(-n + 2)) {
  margin-bottom: 2%;
}

.project-card__image {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border: 1px solid #BEBEBE;
  border-radius: 16px;
}

.project-card__title {
  margin: 0.5em 0 0;
  font-size: 3.2rem;
  line-height: 1;
  font-weight: bold;
  min-height: 2em;
}

.project-card__description {
  flex: 1;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 1em 0 3em;
}

.project-card__button {
  font-size: 2.2rem;
  padding: 0.9em 0;
}

.projects__more {
  text-align: center;
  margin-top: 2rem;
}

.projects__more-link {
  font-size: 2.4rem;
  color: #BEBEBE;
  transition: color .25s .1s;
}

.projects__more-link:hover {
  color: #242424;
  transition-delay: 0s;
}


/* --------------------
      achievements
-------------------- */
.achievements {
  width: 100%;
  padding: 2.5rem 0 3.6rem;
  background-color: #2998FF;
}

.achievements__header {
  margin: 0;
  font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.achievements__slider {
  height: 300px;
}

.test {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: palevioletred;
}

/* --------------------
        others
-------------------- */
.contacts {
  height: 150vh;
  position: relative;
}

.contacts::after {
  content: attr(id);
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contacts {
  background-color: #00509A;
}

/* --------------------
    scroll-to-top
-------------------- */
.scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -128px;
  right: -128px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #2998FF;
  z-index: 1000;
  transition: right .5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
              bottom .5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
              background-color .25s .1s;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  outline: none;
  background-color: #00509A;
  transition-delay: 0s;
}
/*
.scroll-to-top:active {
  background-color: #2998FF;
} */

.scroll-to-top_active {
  right: 5%;
  bottom: 7%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Just add this on your sections to prevent fixed header overlap
 */

 .header-fix {
   margin-top: -150px;
 }

.header-fix::before {
  content: "";
  display: block;
  height: 150px;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

