
/* ==========================================================================
   Imports
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  color: #242424;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #86C5FF;
  text-shadow: none;
}

::selection {
  background: #86C5FF;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #242424;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Main custom styles
   ========================================================================== */

html {
  font-family: 'Rubik', sans-serif;
  font-size: 62.5%;
  color: #242424;
  /* scroll-behavior: smooth; */
}

body {
  font-size: 1.6rem;
}

.max-width-1120 {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
}

picture img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}


/* --------------------
         button
-------------------- */
.button {
  border: none;
  border-radius: 16px;
  color: #fff;
  background-color: #2998FF;
  padding: 1em 0;

  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  
  cursor: pointer;
  outline: none;
  transition: background-color .25s .1s;
}

.button:focus,
.button:hover {
  background-color: #00509A;
  transition-delay: 0s;
}


/* --------------------
         hero
-------------------- */
.hero {
  padding-top: 9rem;
  box-sizing: border-box;
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.hero__image {
  flex: 1;
  background-color: #2998FF;
}

.hero__image img {
  object-position: bottom left;
}

.hero__content {
  flex: 0 0 50vw;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content-wrapper{
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__logo-image {
  fill: #2998FF;
  width: 20rem;
}

.hero__logo-header {
  align-self: stretch;
  font-size: 4.6rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin: .4em 0 0 0;
}

.hero__paragraph {
  font-size: 2.4rem;
  margin: 3rem 0 0;
}

.hero__button {
  margin: 4.8rem 0 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .hero__image {
    display: none;
  }

  .hero__logo-header {
    font-size: 4.4rem;
  }

  .hero__paragraph {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  /* .hero__button {

  } */

  .hero__logo-image {
    width: 55%;
    max-width: 20rem;
  }

  .hero__logo-header {
    font-size: 4rem;
  }

  .hero__paragraph {
    font-size: 1.8rem;
  }

  .hero__button {
    margin: 2rem 0 0;
  }
}


/* --------------------
      what-we-do
-------------------- */
.what-we-do {
  margin: 12.8rem auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.what-we-do__text {
  min-width: 53.6rem;
  max-width: 55.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.what-we-do__header {
  margin: 0 0 1.3em;
  font-size: 4.8rem;
  text-transform: uppercase;
}

.what-we-do__desc-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.what-we-do__desc-item {
  width: 48%;
}

.what-we-do__desc-item:nth-of-type(2n + 1) {
  margin-right: 4%;
}

.what-we-do__desc-item:not(:nth-last-of-type(-n + 2)) {
  margin-bottom: 4%;
}

.what-we-do__desc-term {
  font-weight: bold;
  font-size: 0;
}

/* .what-we-do__desc-term-image {
  
} */

.what-we-do__desc-term-text {
  font-size: 1.6rem;
  vertical-align: middle;
  margin-left: 1.6rem;
}

.what-we-do__desc-def {
  margin: 1.6rem 0 0;
  font-size: 1.6rem;
  line-height: 1.3125;
  letter-spacing: 0.3px;
}

.what-we-do__image {
  min-width: 0px;
  height: 64.3rem;
  margin-left: 20px;
}

.what-we-do__image img {
  border-radius: 16px;
}

@media screen and (max-width: 992px) {
  .what-we-do__image {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .what-we-do__header {
    font-size: 4.2rem;
  }

  .what-we-do__text {
    max-width: 57rem;
  }
}

@media screen and (max-width: 576px) {
  .what-we-do {
    margin: 0 auto 6.4rem;
  }
  
  .what-we-do__text {
    min-width: auto;
  }
  
  .what-we-do__header {
    font-size: 3rem;
    order: -2;
    margin-bottom: 1.6rem;
  }

  .what-we-do__desc-item {
    width: 100%;
    margin-right: 0 !important;
  }

  .what-we-do__desc-item:not(:last-of-type) {
    margin-bottom: 1.6rem;
  }

  .what-we-do__image {
    display: block;
    height: 26rem;
    min-height: auto;
    width: 100%;
    margin: 0 0 1.6rem;

    order: -1;
  }
}


/* --------------------
        projects
-------------------- */
.projects {
  margin-bottom: 10rem;
}

.projects__header {
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 6.4rem;
}

.projects__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.projects__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 49%;

  padding: 3.2rem 3.2rem 3.6rem;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.projects__card:not(:nth-last-of-type(-n + 2)) {
  margin-bottom: 2%;
}

.project-card__image {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #BEBEBE;
  border-radius: 16px;
  overflow: hidden;
}

.project-card__title {
  margin: 0.5em 0 0;
  font-size: 3.2rem;
  line-height: 1;
  font-weight: bold;
  min-height: 2em;
  word-wrap: break-word;
}

.project-card__description {
  flex: 1;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 1em 0 3em;
}

.project-card__button {
  font-size: 2.2rem;
  padding: 0.9em 0;
}

.projects__more {
  text-align: center;
  margin-top: 2rem;
}

.projects__more-link {
  font-size: 2.4rem;
  color: #BEBEBE;
  transition: color .25s .1s;
  outline: none;
}

.projects__more-link:focus,
.projects__more-link:hover {
  color: #242424;
  transition-delay: 0s;
}


@media screen and (max-width: 1024px) {
  .projects {
    margin-bottom: 8rem;
  }

  .projects__header {
    font-size: 4.2rem;
    margin-bottom: 5.4rem;
  }

  .project-card__title {
    font-size: 2.6rem;
  }

  .project-card__description {
    font-size: 1.5rem;
  }

  .project-card__button {
    font-size: 2rem;
  }

  .projects__more-link {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    margin-bottom: 6rem;
  }

  .projects__header {
    font-size: 4.2rem;
    margin-bottom: 4.8rem;
  }

  .project-card__title {
    font-size: 2rem;
  }

  .project-card__description {
    font-size: 1.4rem;
  }

  .project-card__button {
    font-size: 1.8rem;
  }

  .projects__more {
    margin-top: 1.8rem;
  }

  .projects__more-link {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .projects {
    margin-bottom: 4rem;
  }
  
  .projects__header {
    font-size: 3rem;
    margin-bottom: 3.2rem;
  }

  .projects__card {
    width: 100%;
    margin-right: 0 !important;
  }

  .projects__card:not(:nth-of-type(-n + 2)) {
    display: none;
  }

  .projects__card:not(:last-of-type) {
    margin-bottom: 1.6rem;
  }

  .project-card__title {
    font-size: 1.9rem;
    min-height: auto;
  }

  .project-card__description {
    font-size: 1.2rem;
  }

  .project-card__button {
    font-size: 1.6rem;
  }

  .projects__more {
    margin-top: 0;
  }

  .projects__more-link {
    font-size: 1.8rem;
  }
}


/* --------------------
      achievements
-------------------- */
#achievements {
  margin-bottom: 9.2rem;
}

.achievements {
  width: 100%;
  margin: 0;
  padding: 2.5rem 0 1.6rem;
  background-color: #2998FF;
}

.achievements__header {
  margin: 0 auto 0.9em;
  font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.achievements__slider-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.achievements__slider-inner {
  padding: 20px 0;
  margin: 0;
}

.achievements__card {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas: "title image"
                       "desc  image"
                       "place place";

  padding: 1.6rem 1.6rem 1.6rem 2.4rem;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.achievements__card-title {
  grid-area: title;
  display: flex;
  align-items: center;
  min-height: 2em;
  margin: 0 0 0.3em 0;
  font-size: 2.4rem;
  line-height: 1;
  overflow-wrap: break-word;
  word-break: break-word;
}

.achievements__card-description {
  grid-area: desc;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

.achievements__card-image-wrapper {
  grid-area: image;
  width: 128px;
  height: 128px;
  border-radius: 16px;
  border: 1px solid #BEBEBE;
  margin: 0 0 2rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements__card-image {
  width: 75%;
}

.achievements__card-place {
  grid-area: place;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4.8rem;
  line-height: 1;
  text-align: center;
}

.achievements__slider-control {
  position: absolute;
  max-width: 32px;
  height: 30%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline-color: #fff;
  transition: outline-color .25s .1s;
}

.achievements__slider-control:hover {
  outline-color: #ccc;
  transition-delay: 0s;
}

.achievements__slider-control svg {
  fill: #fff;
  transition: fill .25s .1s;
} 

.achievements__slider-control:hover svg {
  fill: #ccc;
  transition-delay: 0s;
}

.achievements__slider-control_left {
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
}

.achievements__slider-control_left svg {
  transform: rotate(-90deg);
}

.achievements__slider-control_right {
  top: 50%;
  right: 0%;
  transform: translate(100%, -50%);
}

.achievements__slider-control_right svg {
  transform: rotate(90deg);
}

@media screen and (min-width: 1160px) {
  .achievements__slider-control_left {
    left: -12px;
  }

  .achievements__slider-control_right {
    right: -12px;
  }
}

@media screen and (max-width: 1024px) {
  .achievements {
    margin: 0 0 5.6rem;
  }

  .achievements__header {
    font-size: 4.2rem;
  }

  .achievements__card-title {
    font-size: 2.2rem;
  }

  .achievements__card-description {
    font-size: 1rem;
  }

  .achievements__card-place {
    font-size: 4.2rem;
  }

  .achievements__card-image-wrapper {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .achievements {
    margin: 0 0 4.8rem;
  }

  .achievements__card-title {
    font-size: 2rem;
  }

  .achievements__card-place {
    font-size: 3.6rem;
  }

  .achievements__card-description {
    font-size: 0.9rem;
  }

  .achievements__card-image-wrapper {
    width: 90px;
    height: 90px;
    margin: 0 0 1.5rem 1rem;
  }
}


@media screen and (max-width: 576px) {
  .achievements {
    margin: 0 0 3.6rem;
  }

  .achievements__header {
    font-size: 3rem;
  }

  .achievements__card-title {
    font-size: 1.8rem;
  }

  .achievements__card-description {
    font-size: 0.8rem;
  }

  .achievements__card-place {
    font-size: 3rem;
  }

  .achievements__card-image-wrapper {
    margin: 0 0 1rem 0.5rem;
  }
}


/* --------------------
        contacts
-------------------- */
.contacts {
  max-width: 552px;
  margin: 0 auto;
  padding: 0 32px;
  margin-bottom: 9.5rem;
  box-sizing: border-box;
}

.contacts__title {
  margin: 0 0 6.4rem;
  font-size: 4.8rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #242424;
}

.contacts__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__link {
  flex: 0 0 49%;
  box-sizing: border-box;
  max-height: 5.4rem;
  margin: 0 0 1.4rem;
  padding: 1.9rem 0 1.9rem 4.8rem;
  position: relative;

  font-size: 1.2rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  color: #242424;
  background-color: #F2F2F2;
  box-shadow: inset 0 0 0 0 #2998FF;
  border-radius: 8px;
  transition: box-shadow .25s .1s;
}

.contacts__link:focus {
  outline: none;
  transition-delay: 0s;
  box-shadow: inset 0 0 0 0.1em #2998FF;
}

.contacts__link-icon {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
}

.contacts__form {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__form-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.contacts__form-item-after {
  position: absolute;
  height: 1rem;
  width: 1rem;
  cursor: text;
}

.form__name-after {
  right: 1rem;
  top: 1.1rem;
}

.form__email-after {
  right: 51%;
  top: 5.7rem;
  transform: translateX(-1rem);
}

.form__tel-after {
  right: 1rem;
  top: 5.7rem;
}

.form__message-after {
  right: 1.4rem;
  bottom: 7.6rem;
}

.contacts__form-item-after use {
  fill: transparent;
  transition: fill .25s;
}

/* asterisk */
input.contacts__form-item:required + .contacts__form-item-after use:nth-of-type(1),
textarea.contacts__form-item:required + .contacts__form-item-after use:nth-of-type(1)  {
  fill: #BEBEBE;
}

input.contacts__form-item:required:focus:not(.contacts__form-item_css-validate) + .contacts__form-item-after use:nth-of-type(1),
textarea.contacts__form-item:required:focus:not(.contacts__form-item_css-validate) + .contacts__form-item-after use:nth-of-type(1) {
  fill: #2998FF;
}

input.contacts__form-item_css-validate:invalid + .contacts__form-item-after use:nth-of-type(1),
textarea.contacts__form-item_css-validate:invalid + .contacts__form-item-after use:nth-of-type(1) {
  fill: transparent;
}

input.contacts__form-item_css-validate:valid + .contacts__form-item-after use:nth-of-type(1),
textarea.contacts__form-item_css-validate:valid + .contacts__form-item-after use:nth-of-type(1) {
  fill: transparent;
}

/* check */
input.contacts__form-item_css-validate:invalid + .contacts__form-item-after use:nth-of-type(2),
textarea.contacts__form-item_css-validate:invalid + .contacts__form-item-after use:nth-of-type(2) {
  fill:transparent;
}

input.contacts__form-item_css-validate:valid + .contacts__form-item-after use:nth-of-type(2),
textarea.contacts__form-item_css-validate:valid + .contacts__form-item-after use:nth-of-type(2) {
  fill:#7bbe85;
}

/* cross */
input.contacts__form-item_css-validate:invalid + .contacts__form-item-after use:nth-of-type(3),
textarea.contacts__form-item_css-validate:invalid + .contacts__form-item-after use:nth-of-type(3) {
  fill:#FF3366;
}

input.contacts__form-item_css-validate:valid + .contacts__form-item-after use:nth-of-type(3),
textarea.contacts__form-item_css-validate:valid + .contacts__form-item-after use:nth-of-type(3) {
  fill:transparent;
}

.contacts__form-item::placeholder {
  color: #BEBEBE;
}

input.contacts__form-item,
textarea.contacts__form-item {
  margin: 0 0 1.4rem;
  padding: 1rem 2.6rem 1rem 1rem;

  font-size: 1.4rem;
  line-height: 1;
  background-color: #F2F2F2;
  color: #242424;
  box-shadow: inset 0 0 0 0 #2998FF;
  border: none;
  transition: box-shadow .25s .1s;
}

input.contacts__form-item {
  max-height: 3.2rem;
}

input.contacts__form-item:focus,
textarea.contacts__form-item:focus {
  outline: none;
  transition-delay: 0s;
  box-shadow: inset 0 0 0 0.1em #2998FF;
}

textarea.contacts__form-item {
  padding: 1em;
  line-height: 1;
  min-height: 10em;
  max-height: 20em;
}

[name="email"].contacts__form-item,
[name="tel"].contacts__form-item {
  flex-basis: 49%;
}

input.contacts__form-item_css-validate:invalid,
textarea.contacts__form-item_css-validate:invalid {
  box-shadow: inset 0 0 0 0.1em #FF3366;
}

input.contacts__form-item_css-validate:valid,
textarea.contacts__form-item_css-validate:valid {
  box-shadow: inset 0 0 0 0.1em #7bbe85;
}

.form__submit {
  position: relative;
  border: none;
  border-radius: 8px;
  background-color: #2998FF;
  padding: 1em 0;
  margin: 0 auto;

  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1;
  color: #fff;

  cursor: pointer;
  outline: none;

  height: 4.8rem;
  overflow: hidden;
  
  transition-property: flex-basis, border-radius, background-color;
  transition-duration: .5s,         .5s,            0.25s;
  transition-delay:     0s,         0s,            0.1s;
  transition-timing-function: ease, ease, ease-out;
}

.form__submit:not(.form__submit_sent,.form__submit_fail,.form__submit_sending):focus,
.form__submit:not(.form__submit_sent,.form__submit_fail,.form__submit_sending):hover {
  background-color: #00509A;
  transition-delay:    0s,          0s,            0s;
}

.form__submit.form__submit_sending {
  flex-basis: 4.8rem;
  border-radius: 50px;
  background-color: #2998FF;
  transition-delay:    0s,         .25s,            0s;
}

.form__submit.form__submit_sent {
  background-color: #7bbe85;
}

.form__submit.form__submit_fail {
  background-color: #FF3366;
}

.form__submit-text {
  display: block;
  opacity: 1;
  transition: opacity .5s .5s;
}

.form__submit-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity .5s 0s;
  animation: form__submit-logo_rotate 1.2s infinite cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.form__submit-sent-text,
.form__submit-fail-text {
  display: block;
  opacity: 0;
  transition: opacity .5s;
}

.form__submit_hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes form__submit-logo_rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .contacts {
    margin-bottom: 6.4rem;
  }

  .contacts__title {
    font-size: 4.2rem;
    margin: 0 0 4.6rem;
  }
}


@media screen and (max-width: 768px) {
  .contacts {
    margin-bottom: 4.8rem;
  }

  .contacts__title {
    font-size: 3.6rem;
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 576px) {
  .contacts {
    margin-bottom: 3.2rem;
  }

  .contacts__title {
    font-size: 3rem;
    margin: 0 0 1.6rem;
  }

  .contacts__link {
    flex: 0 0 100%;
  }

  [name="email"].contacts__form-item,
  [name="tel"].contacts__form-item {
    flex-basis: 100%;
  }

  .form__email-after {
    right: 1rem;
    top: 5.7rem;
    transform: none;
  }
  
  .form__tel-after {
    right: 1rem;
    top: 10.3rem;
  }
}


/* --------------------
        footer
-------------------- */
.footer {
  background-color: #242424;
}

.footer__content {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 21.8rem;
  position: relative;
}

.footer__links {
  display: flex;
  width: 100%;
}

.footer__logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  text-decoration: none;
  outline: none;
}

.footer__logo {
  fill: #fff;
  height: 7.2rem;
  width: auto;
  margin-bottom: 0.8rem;
  transition: fill .25s .1s;
}

.footer__logo-link:hover .footer__logo,
.footer__logo-link:focus .footer__logo {
  fill:#bebebe;
  transition-delay: 0s;
}

.footer__logo-title {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  transition: color .25s .1s;
}

.footer__logo-link:hover .footer__logo-title,
.footer__logo-link:focus .footer__logo-title {
  color: #bebebe;
  transition-delay: 0s;
}

.footer__list-wrapper {
  margin: 0 80px 0 0;
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 24rem;

  list-style: none;
  /* margin: 6.4rem 0 3.2rem; */
}

.footer__list-item {
  height: 4.8rem;
  width: 4.8rem;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #353535;
  transition: background-color .25s .1s;
}

.footer__link:hover {
  background-color: #444;
  transition-delay: 0s;
}

.footer__link-icon {
  fill: #fff;
  height: 50%;
  width: 50%;
}

.footer__copy {
  font-size: 1.2rem;
  line-height: 1.15;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .footer__content {
    padding-top: 5.4rem;
    padding-bottom: 5.4rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
  }
}

@media screen and (max-width: 576px) {
  .footer__content {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .footer__links {
    align-items: center;
  }

  .footer__list-wrapper {
    margin: 0;
  }

  .footer__list {
    width: 11.2rem;
  }

  .footer__list-item:nth-last-of-type(n + 3) {
    margin-bottom: 1.2rem;
  }

  .footer__copy {
    margin: 3.2rem 0 0;
  }
}



/* --------------------
    scroll-to-top
-------------------- */
.scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -128px;
  right: -128px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #2998FF;
  z-index: 1000;
  transition: right .5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
              bottom .5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
              background-color .25s .1s;
}

.scroll-to-top svg {
  fill: #fff;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  outline: none;
  background-color: #00509A;
  transition-delay: 0s;
}

.scroll-to-top_active {
  right: 5%;
  bottom: 7%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Just add this on your sections to prevent fixed header overlap
 */

 .header-fix {
   margin-top: -150px;
 }

.header-fix::before {
  content: "";
  display: block;
  height: 150px;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

