
/* ==========================================================================
   Imports
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

   /* ==========================================================================
      Base styles
      ========================================================================== */
   
   html {
     color: #242424;
     font-size: 1em;
     line-height: 1.4;
   }
   
   /*
    * Remove text-shadow in selection highlight:
    * https://twitter.com/miketaylr/status/12228805301
    *
    * Vendor-prefixed and regular ::selection selectors cannot be combined:
    * https://stackoverflow.com/a/16982510/7133471
    *
    * Customize the background color to match your design.
    */
   
   ::-moz-selection {
     background: #86C5FF;
     text-shadow: none;
   }
   
   ::selection {
     background: #86C5FF;
     text-shadow: none;
   }
   
   /*
    * A better looking default horizontal rule
    */
   
   hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #242424;
     margin: 1em 0;
     padding: 0;
   }
   
   /*
    * Remove the gap between audio, canvas, iframes,
    * images, videos and the bottom of their containers:
    * https://github.com/h5bp/html5-boilerplate/issues/440
    */
   
   audio,
   canvas,
   iframe,
   img,
   svg,
   video {
     vertical-align: middle;
   }
   
   /*
    * Remove default fieldset styles.
    */
   
   fieldset {
     border: 0;
     margin: 0;
     padding: 0;
   }
   
   /*
    * Allow only vertical resizing of textareas.
    */
   
   textarea {
     resize: vertical;
   }
   
   /* ==========================================================================
      Main custom styles
      ========================================================================== */
   
   html {
     font-family: 'Rubik', sans-serif;
     font-size: 62.5%;
     color: #242424;
   }
   
   body {
     font-size: 1.6rem;
   }

   .preload-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
   
   .max-width-1120 {
     max-width: 1120px;
     margin: 0 auto;
     padding: 0 32px;
     box-sizing: border-box;
   }
   
   picture img {
     display: block;
     height: 100%;
     width: 100%;
     object-fit: cover;
     margin: 0;
     padding: 0;
   }

/* --------------------
         button
-------------------- */
.button {
  border: none;
  border-radius: 16px;
  color: #fff;
  background-color: #2998FF;
  padding: 1em 0;

  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  
  cursor: pointer;
  outline: none;
  transition: background-color .25s .1s;
}

.button:focus,
.button:hover {
  background-color: #00509A;
  transition-delay: 0s;
}


/* --------------------
         main
-------------------- */
main {
  min-height: 100vh;
  position: relative;
  padding-top: 170px;
  padding-bottom: 94px;
}

.projects__background-image {
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: top right;
  z-index: -1;
  background-color: #2998FF;
  transition: top .5s cubic-bezier(0.25, 1, 0.5, 1);
}

.projects__header {
  margin: 0 0 32px;
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #fff;
}

.projects__content {
  /* min-height: 200vh; */
  border-radius: 32px;
}

.projects__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.projects__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 49%;

  padding: 3.2rem 3.2rem 3.6rem;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.projects__card:not(:nth-last-of-type(-n + 2)) {
  margin-bottom: 2%;
}

.project-card__image {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #BEBEBE;
  border-radius: 16px;
  overflow: hidden;
}

.project-card__title {
  margin: 0.5em 0 0;
  font-size: 3.2rem;
  line-height: 1;
  font-weight: bold;
  min-height: 2em;
  word-wrap: break-word;
}

.project-card__description {
  flex: 1;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 1em 0 3em;
}

.project-card__button {
  font-size: 2.2rem;
  padding: 0.9em 0;
}

@media screen and (max-width: 1024px) {
  .project-card__title {
    font-size: 2.6rem;
  }

  .project-card__description {
    font-size: 1.5rem;
  }

  .project-card__button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .project-card__image {
    height: 200px;
  }

  .project-card__title {
    font-size: 2rem;
  }

  .project-card__description {
    font-size: 1.4rem;
  }

  .project-card__button {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 576px) {
  .projects__card {
    width: 100%;
    margin-right: 0;
  }

  .projects__card:not(:last-of-type) {
    margin-bottom: 1.6rem;
  }

  .project-card__image {
    height: 250px;
  }

  .project-card__title {
    font-size: 1.9rem;
    min-height: auto;
  }

  .project-card__description {
    font-size: 1.2rem;
  }

  .project-card__button {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 335px) {
  .project-card__image {
    height: 200px;
  }
}


/* --------------------
    scroll-to-top
-------------------- */
.scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -128px;
  right: -128px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #2998FF;
  z-index: 1000;
  transition: right .6s cubic-bezier(0.68, -0.6, 0.32, 1.6),
              bottom .6s cubic-bezier(0.68, -0.6, 0.32, 1.6),
              background-color .25s,
              transform .25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.scroll-to-top svg {
  fill: #fff;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  outline: none;
  background-color: #00509A;
  transform: scale(1.1);
}

.scroll-to-top:active {
  transform: scale(1);
  transition-duration: .1s;
}

.scroll-to-top_active {
  right: 5%;
  bottom: 7%;
}




   /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Just add this on your sections to prevent fixed header overlap
 */

 .header-fix {
  margin-top: -150px;
}

.header-fix::before {
 content: "";
 display: block;
 height: 150px;
}

/*
* Hide visually and from screen readers
*/

.hidden,
[hidden] {
 display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
 border: 0;
 clip: rect(0, 0, 0, 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 white-space: nowrap;
 width: 1px;
 /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
 clip: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 position: static;
 white-space: inherit;
 width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
 visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
 content: " ";
 display: table;
}

.clearfix::after {
 clear: both;
}

/* ==========================================================================
  Print styles.
  Inlined to avoid the additional HTTP request:
  https://www.phpied.com/delay-loading-your-print-css/
  ========================================================================== */

@media print {
 *,
 *::before,
 *::after {
   background: #fff !important;
   color: #000 !important;
   /* Black prints faster */
   box-shadow: none !important;
   text-shadow: none !important;
 }

 a,
 a:visited {
   text-decoration: underline;
 }

 a[href]::after {
   content: " (" attr(href) ")";
 }

 abbr[title]::after {
   content: " (" attr(title) ")";
 }

 /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
 a[href^="#"]::after,
 a[href^="javascript:"]::after {
   content: "";
 }

 pre {
   white-space: pre-wrap !important;
 }

 pre,
 blockquote {
   border: 1px solid #999;
   page-break-inside: avoid;
 }

 /*
  * Printing Tables:
  * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
  */
 thead {
   display: table-header-group;
 }

 tr,
 img {
   page-break-inside: avoid;
 }

 p,
 h2,
 h3 {
   orphans: 3;
   widows: 3;
 }

 h2,
 h3 {
   page-break-after: avoid;
 }
}

