@import url('https://getbootstrap.com/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');
@import "headings.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@use "@material/button";
@include button.core-styles;


.div-center {
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}


.custom-text-button,
.custom-contained-button {
    --mdc-theme-primary: #03A9F4;
    --mdc-theme-on-primary: #ffffff;
}


.button {
    font-size: 15px !important;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0 5px;

}

.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*position: relative;*/
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
@import "h1";
}


p {
    font-size: 20px !important;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    position: center;
    color: #000000;
    text-align: center;
    margin-top: 0;
}

h2.ribbon {
@import "h1";
}
