h1 {
    font-size: 60px !important;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    position: center;
    color: #03A9F4;
    text-align: center;
}

h2.ribbon {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 38px !important;
    position: center;
    color: #03A9F4;
    text-align: center;
}

h5.ribbon {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px !important;
    position: center;
    text-align: center;
    flex: auto;
    color: #03A9F4;
    padding: 1em 2em;
    alignment: center;
    align-items: center;
    align-content: center;
    align-self: center;
}