@import url('https://getbootstrap.com/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');
@import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.css');

@import "headings.css";

@use "@material/card";
@include card.core-styles;

.button_apk {
    margin: 20px;
    width: 200px;
    height: 44px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.h2 {
    font-size: 39px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.center {
    alignment: center;
    display: inline-block;
    /*margin: 20px;*/
    horiz-align: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    alignment-baseline: center;
    align-self: center;
}