@import url('https://getbootstrap.com/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');
@import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.css');

@import "headings.css";

@use "@material/card";
@include card.core-styles;

.my-card {
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 7px #456e7d;
    margin: 10px;
}

.my-mdc-button__label {
    color: #03A9F4;
}



.team-members {
    display: block;
    margin: 0 auto;
    horiz-align: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    alignment: center;
    align-content: center;
    alignment-baseline: center;
    align-self: center;
}

.border-transition {
    border: white 1px solid;
    transition: all 0.2s ease-out;
    border-radius: 6px;
}

.border-transition:hover {
    border-color: #03A9F4;
}

.items {
    horiz-align: center;
    text-align: center;
    align-items: center;
    display: block;
    /*flex-direction: row;*/
}

.text-member {
    align-content: center;
    alignment: center;
    horiz-align: center;
    text-align: center;
    font-size: 20px;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}


.image {
    horiz-align: center;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    margin-block-end: 10px;
    border-radius: 100%; /* Радиус скругления */
}

.team_photo {
    /*@import "image";*/
    horiz-align: center;
    height: 600px;
    padding: 10px;
    position: center;
    align-self: center;
    align-content: center;
    alignment: center;
}

.image_small {
    alignment: left;
    align-self: start;
    align-content: flex-start;
    margin: 10px;
    padding: 10px;
    /*border: 0;*/
    /*outline: 0;*/
    /*margin-block-end: 5px;*/
    margin-inline-start: 0;
    /*border-radius: 100%; !* Радиус скругления *!*/
    /*display: inline-block;*/
}

.col {
    alignment: top;
}

.logo_project {
@import "image_small";
    padding: 1px;
    margin: 1px;
}

div {
    alignment: center;
    display: inline-block;
    margin: 0 auto;
    horiz-align: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    alignment-baseline: center;
    align-self: center;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.img_tg {
    position: absolute;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
}

.container {
    align-items: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
}

.a,
.a:visited,
.a:focus-visible,
.a:active {
    font-size: 20px;
    color: #03A9F4;
    position: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
